# Ignore all files without extension in scripts/.local/bin/
# I don't want to upload binaries since they might not work
# across different environments
scripts/.local/bin/*
!scripts/.local/bin/*/
!scripts/.local/bin/*.*

# Nothing here
!nvim/.config
!nvim/*
!nvim
nvim/.config/nvim/.netrwhist
plugged
# Emacs
auto-save-list
elpa
projectile-bookmarks.eld
.mc-lists.el
recentf
new-emacs/.emacs.d/var/
tags

