!------------------------------------------------
! URxvt General config
!------------------------------------------------
URxvt*iconFile: /usr/share/icons/Numix-Circle/48/apps/terminal.svg
URxvt.geometry: 80x22
! Fonts
URxvt*font: xft:OperatorMono Nerd Font:pixelsize=17
URxvt*letterSpace: 0
URxvt*allow_bold: true
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
! Borders
URxvt*internalBorder: 0
URxvt*externalBorder: 0
! disable the fucking bell
URxvt.insecure: false
! Copy paste shortcuts
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
! Scrollbar and cursor style
URxvt*saveLines: 300000
URxvt.scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true
! Dynamic font size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
! Real transparency
urxvt*depth: 32
urxvt*background: [90]#301624

!------------------------------------------------
! Colors
!------------------------------------------------
*background:  #301624
*foreground:  #FFFFFF
*color0:  #301624
*color1:  #f9aa2a
*color2:  #A7DD1E
*color3:  #f9d331
*color4:  #00bbff
*color5:  #e3308d
*color6:  #00a8b2
*color7:  #e2e8ea
*color8:  #412b3b
*color9:  #f9b977
*color10:  #A7DD1E
*color11:  #f9b22a
*color12:  #7be6ff
*color13:  #a72681
*color14:  #20b8c4
*color15:  #ffffff

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:ba2f343f, argb:00000000,  900000,
rofi.color-normal: argb:00000000, #FFFFFF, 000000, 000000,   #f8ae19
rofi.color-active: argb:00000000, #FFFFFF, argb:00000000,   argb:00000000, #f8ae19
rofi.color-urgent: #2f343f, #2f343f, #2f343f, #2f343f, #2f343f
rofi.separator-style: none
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16
rofi.yoffset: 0
rofi.fake-transparency: true
rofi.location: 0
rofi.width: 900
rofi.lines: 12
rofi.fixed-num-lines: true
