! Emacs stuff
Emacs.menuBar: 0
Emacs.toolBar: 0
Emacs.verticalScrollBars: off
Emacs.FontBackend: xft,x
! Emacs*font: OperatorMonoNerdFont-14:horiz=1920:vert=1080:spacing=m
Emacs*font: OperatorMonoNerdFont-13
Emacs*letterSpace: 0
Emacs.geometry: 180x40

! Fonts
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

xterm*font: xft:OperatorMonoNerdFontMono:pixelsize=19:antialias=true:style=Medium
xterm*italicFont: xft:OperatorMonoNerdFontMono:pixelsize=19:antialias=true:style=Medium\ Italic
xterm*boldFont: xft:OperatorMonoNerdFont:pixelsize=19:antialias=true
xterm*letterSpace: 0
xterm*allow_bold: true


! URxvt General config
!------------------------------------------------
URxvt*iconFile: /usr/share/icons/Numix-Circle/48/apps/terminal.svg
URxvt.geometry: 80x22

! URxvt Fonts
! URxvt*font: xft:OperatorMonoNerdFontMono:pixelsize=19:antialias=true:style=Medium,xft:Symbola,xft:Noto Emoji:minspace=False
URxvt*font: xft:OperatorMonoNerdFontMono:pixelsize=19:antialias=true:style=Medium,xft:Noto Emoji:minspace=False,xft:Symbola
URxvt*italicFont: xft:OperatorMonoNerdFontMono:pixelsize=19:antialias=true:style=Medium\ Italic
URxvt*boldFont: xft:OperatorMonoNerdFont:pixelsize=19:antialias=true
URxvt*letterSpace: 0
URxvt*allow_bold: true

! URxvt Borders
URxvt*internalBorder: 0
URxvt*externalBorder: 0

! URxvt Enable link support
URxvt.perl-ext-common: default,matcher,clipboard,font-size

!disable the fucking bell
URxvt.insecure: false

! URxvt Copy paste shortcuts
URxvt.iso14755: False
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

! URxvt Scrollbar and cursor style
URxvt*saveLines: 300000
URxvt.scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: true
! URxvt Dynamic font size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease

! Base16 colors
*background:  #263228
*foreground:  #FFFFFF
*color0:  #263228
*color1:  #2C393F
*color2:  #37474F
*color3:  #707880
*color4:  #C9CCD3
*color5:  #CDD3DE
*color6:  #D5DBE5
*color7:  #FFFFFF
*color8:  #EC5F67
*color9:  #EA9560
*color10:  #FFCC00
*color11:  #8BD649
*color12:  #80CBC4
*color13:  #89DDFF
*color14:  #82AAFF
*color15:  #EC5F67

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Enable the extended coloring options
rofi.color-enabled: true
!                  bg             border   separator
rofi.color-window: argb:ea2c393f, argb:00000000,  900000,
!                  bg             fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: argb:00000000, #FFFFFF, 000000, 000000,   #ccff00
rofi.color-active: argb:00000000, #FFFFFF, argb:00000000,   argb:00000000, #f8ae19
rofi.color-urgent: #2f343f, #2f343f, #2f343f, #2f343f, #2f343f

rofi.separator-style: none
rofi.sidebar-mode: true
rofi.bw: 1
rofi.columns: 1
rofi.padding: 16

rofi.yoffset: 0
rofi.fake-transparency: true
rofi.location: 0
rofi.width: 900
rofi.lines: 12
rofi.fixed-num-lines: true
